<md-dialog aria-label="Mango (Fruit)"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Game Finished!!</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; ">
      <div class="md-dialog-content">
        <p>Thank you for playing.<p>
        <p>You score {{score}} in {{round}} round.</p>
        <p>If it is your first time to playing this game, we encourage you to take it as your final result. But it is welcome to take this test again if you want!</p>
        <p>Want to see how good is your standing? Please check out our analysis page for detail.</p>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button href="https://en.wikipedia.org/wiki/Color_blindness" target="_blank" md-autofocus>
        More About Color Blindness
      </md-button>
      <span flex></span>
      <md-button ng-click="answer('again')">
       Play Again!
      </md-button>
      <md-button ng-click="answer('result')" style="margin-right:20px;">
        Compare My Result
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>