<head>
  <link rel="stylesheet" href="assets/css/game.css"/>
<!--  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
</head>
<div>
  <div ng-controller="GameCtrl" layout="row" layout-wrap>
    <div ng-controller="GameBoardCtrl" class="game-container" flex="66">
      <div layout="row" layout-align="space-around center" class="rows" ng-repeat="rows in boxes">
        <span class="row" ng-repeat="box in rows">
          <md-button aria-label="Click Me!" ng-style="{'background': box.color ,'width':btnWidth, 'height':btnWidth }" ng-click="check(box.flag)"></md-button>
        </span>
      </div>
    </div>
    <div class="scoreboard" flex="33">
      <div>
        ROUND <span>{{round}}</span>
      </div>
      <div>SCORE {{score}}</div>
    </div>
  </div>
</div>