<head>
  <link rel="stylesheet" href="assets/css/start.css"/>
</head>


<div class="container" layout="row" layout-align="center center">
  <div class="welcome-box" layout="column">
    <h2>How Well Do You See Color?</h2>
    <h1 id="welcome-title">Ishihara</h1>
    <p id="welcome-desc">Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam. Ne deleniti appetere reprimique pro, inani labitur disputationi te sed. At vix sale omnesque, id pro labitur reformidans accommodare, cum labores honestatis eu. Nec quem lucilius in, eam praesent reformidans no. Sed laudem aliquam ne.</p>
    <md-button id="start-btn" href="#Game"> Start Game! </md-button>
  </div>
<!--  <pre>$route.current.templateUrl = {{$route.current.templateUrl}}</pre>-->
</div>
