<head>
  <link rel="stylesheet" href="assets/css/start.css"/>
</head>


<div class="container" layout="row" layout-align="center center">
  <div class="welcome-box" layout="column">
    <h2>How Well Do You See Color?</h2>
    <h1 id="welcome-title">Ishihara</h1>
    <p id="welcome-desc">
      <span>
        <strong>Ishihara</strong> was a Japanese ophthalmologist who established the Ishihara Color Vision Test to detect colour blindness in 1917. Even today, his test is still commonly used to detect Daltonism (color blindness of basic colors).
      </span>
      <span id="welcome-desc-sec">
        <strong>Daltonism</strong>, also known as color blindness. It's the inability to distinguish between certain colors. It is very common in U.S. that more than 3 million cases discovered per year. Are you sure you can perfectly differentiate between colors? How good is your color vision compare to the population? Let's play this game to get your answer.
      </span>
    </p>
    <md-button id="start-btn" href="#Game"> Start Game! </md-button>
  </div>
<!--  <pre>$route.current.templateUrl = {{$route.current.templateUrl}}</pre>-->
</div>
