/*
.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}
*/
h2, h4 {
  text-align: center;
}
.chart p {
  text-align: center;
}